.footer {
  padding-top: 70px;
  color: #ffffff;
}

.footer-container {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #2d2d2d;
}

.footer__wrap {
  display: flex;
  margin-bottom: 50px;
}

.footer__logo {
  margin-right: 118px;
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 3px;
}

.footer__logo span {
  color: var(--color-2);
}

.footer__catalog {
  max-width: 480px;
  margin-right: 98px;
}

.catalog__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  margin-bottom: 40px;
}

.catalog__list {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 15px 30px;
  font-size: 22px;
  line-height: 33px;
}

.footer__customers {
  max-width: 307px;
  margin-right: 127px;
}

.customers__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  margin-bottom: 40px;
}

.customers__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 22px;
  line-height: 33px;
}

.footer__contacts {
  max-width: 280px;
}

.contacts__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  margin-bottom: 40px;
}

.contacts {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  margin-bottom: 21px;
}

.social__list {
  display: flex;
  gap: 20px;
}

.footer__copyright-wrap {
  max-width: 1410px;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author__designer {
  margin-bottom: 10px;
}

@media (max-width: 1600px) {
  .footer__logo {
    margin-right: 80px;
  }
  
  .footer__catalog {
    margin-right: 50px;
  }
  
  .footer__customers {
    margin-right: 50px;
  }
  
  .footer__copyright-wrap {
    max-width: 1250px;
  }
}

@media (max-width: 1400px) {
  .footer__logo {
    margin-right: 60px;
  }
  
  .footer__catalog {
    margin-right: 30px;
  }
  
  .catalog__list {
    font-size: 20px;
  }
  
  .footer__customers {
    margin-right: 30px;
  }
  
  .customers__list {
    font-size: 20px;
  }
  
  .footer__copyright-wrap {
    max-width: 1192px;
  }
}

@media (max-width: 1280px) {
  .footer__logo,
  .catalog__title,
  .customers__title,
  .contacts__title {
    font-size: 27px;
  }
  
  .footer__logo {
    margin-right: 40px;
  }
  
  .footer__catalog {
    margin-right: 30px;
  }
  
  .catalog__list {
    font-size: 18px;
  }
  
  .footer__customers {
    margin-right: 30px;
  }
  
  .customers__list {
    font-size: 18px;
  }
  
  .footer__copyright-wrap {
    max-width: 1040px;
  }
}

@media (max-width: 1200px) {
  .footer__logo,
  .catalog__title,
  .customers__title,
  .contacts__title {
    font-size: 24px;
    line-height: 30px;
  }
  
  .catalog__list {
    font-size: 14px;
    line-height: 18px;
    gap: 5px 20px;
  }
  
  .customers__list {
    font-size: 14px;
    line-height: 18px;
    gap: 5px;
  }
  
  .contacts,
  .footer__copyright-wrap {
    font-size: 11px;
  }
  
  .footer__copyright-wrap {
    max-width: 840px;
  }
  
  .social__item a svg {
    width: 16px;
  }
}

@media (max-width: 968px) {
  .footer__logo,
  .catalog__title,
  .customers__title,
  .contacts__title {
    font-size: 16px;
  }
  
  .contacts,
  .footer__copyright-wrap {
    font-size: 11px;
  }
  
  .footer__logo {
    margin-right: 15px;
  }
  
  .footer__catalog {
    margin-right: 15px;
  }
  
  .catalog__list {
    font-size: 12px;
    gap: 5px 20px;
  }
  
  .footer__customers {
    margin-right: 15px;
  }
  
  .customers__list {
    font-size: 12px;
  }
  
  .footer__copyright-wrap {
    max-width: 715px;
  }
}

@media (max-width: 768px) {
  .footer__logo,
  .catalog__title,
  .customers__title,
  .contacts__title {
    font-size: 14px;
  }
  
  .contacts,
  .footer__copyright-wrap {
    font-size: 10px;
  }
  
  .catalog__list {
    font-size: 11px;
    gap: 5px 20px;
  }
  
  .customers__list {
    font-size: 11px;
  }
  
  .footer__copyright-wrap {
    max-width: 617px;
  }
  
  .social__item a svg {
    width: 11px;
  }
}

@media (max-width: 640px) {
  .footer__wrap {
    flex-wrap: wrap;
  }
  
  .footer__contacts {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
  }
  
  .social__list {
    justify-content: center;
  }
  
  .footer__customers {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
  }
  
  .footer__customers:after,
  .footer__contacts:after {
    width: 100%;
  }
  
  .footer__copyright-wrap {
    max-width: 400px;
  }
}
