.menu.open {
  opacity: 1;
  height: auto;
  transition: opacity 1.3s;
}

.menu {
  opacity: 0;
  height: 0;
  overflow: hidden;
  padding-top: 30px;
  color: $color-main;

  &__wrap {
    display: flex;
  }

  &__catalog {
    max-width: 480px;
    margin-right: 98px;
  }

  &__customers {
    max-width: 307px;
    margin-right: 127px;
  }

  &__contacts {
    max-width: 380px;
  }
}

.catalog {
  &__title {
    font-size: 38px;
    font-weight: 700;
    line-height: 49px;
    margin-bottom: 40px;
  }

  &__list {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 15px 30px;
    font-size: 22px;
    line-height: 33px;
  }
}

.customers {
  &__title {
    font-size: 38px;
    font-weight: 700;
    line-height: 49px;
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 22px;
    line-height: 33px;
  }
}

.contacts {
  &__title {
    font-size: 38px;
    font-weight: 700;
    line-height: 49px;
    margin-bottom: 40px;
  }

  &__info {
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    margin-bottom: 21px;
  }
}

@media (max-width: 1600px) {
  .menu {
    &__catalog {
      margin-right: 50px;
    }

    &__customers {
      margin-right: 50px;
    }
  }
}

@media (max-width: 1400px) {
  .menu {
    &__catalog {
      margin-right: 30px;
    }

    &__customers {
      margin-right: 30px;
    }

    &__copyright-wrap {
      max-width: 1192px;
    }
  }
}

@media (max-width: 1280px) {
  .catalog__title,
  .customers__title,
  .contacts__title {
    font-size: 30px;
  }

  .menu {
    &__catalog {
      margin-right: 20px;
    }

    &__customers {
      margin-right: 20px;
    }

    &__copyright-wrap {
      max-width: 1040px;
    }
  }
}

@media (max-width: 1200px) {
  .catalog__title,
  .customers__title,
  .contacts__title {
    font-size: 27px;
    line-height: 30px;
  }

  .catalog__list {
    font-size: 16px;
  }

  .customers__list {
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .menu {
    &__wrap {
      flex-wrap: wrap;
      gap: 60px 20px;
    }
  }

  .catalog {
    &__title {
      font-size: 38px;
      line-height: 42px;
      margin-bottom: 40px;
    }

    &__list {
      grid-template-columns: max-content;
      gap: 15px 30px;
      font-size: 22px;
      line-height: 33px;
    }
  }

  .customers {
    &__title {
      font-size: 38px;
      line-height: 42px;
    }

    &__list {
      font-size: 22px;
      line-height: 33px;
    }
  }

  .contacts {
    &__title {
      font-size: 38px;
      line-height: 42px;
    }

    &__info {
      font-size: 22px;
      line-height: 33px;
    }
  }
}

@media (max-width: 920px) {
  .catalog {
    &__title {
      font-size: 30px;
      line-height: 41px;
    }

    &__list {
      font-size: 18px;
      line-height: 25px;
    }
  }

  .customers {
    &__title {
      font-size: 30px;
      line-height: 41px;
    }

    &__list {
      font-size: 18px;
      line-height: 25px;
    }
  }

  .contacts {
    &__title {
      font-size: 30px;
      line-height: 41px;
    }

    &__info {
      font-size: 14px;
    }
  }
}

@media (max-width: 768px) {
  .catalog {
    &__title {
      font-size: 26px;
      line-height: 34px;
    }

    &__list {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .customers {
    &__title {
      font-size: 26px;
      line-height: 34px;
    }

    &__list {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .contacts {
    &__title {
      font-size: 26px;
      line-height: 34px;
    }

    &__info {
      font-size: 12px;
      line-height: 16px;
    }
  }
}

@media (max-width: 660px) {
  .menu {
    &__wrap {
      flex-wrap: wrap;
    }

    &__contacts {
      width: 600px;
      margin: 0 auto;
      text-align: center;
      padding-top: 20px;
    }

    &__customers {
      width: 40%;
      margin: 0 auto;
      text-align: center;
      padding-top: 20px;

      &:after,
      &:after {
        width: 100%;
      }
    }
  }
}

@media (max-width: 425px) {
  .menu {
    &-container {
      padding-top: 40px;
    }

    &__wrap {
      flex-direction: column;
      align-items: center;
    }

    &__catalog {
      text-align: center;
    }

    &__customers {
      padding-top: 0;
    }
  }

  .catalog__title {
    margin-bottom: 20px;
  }

  .catalog__list {
    margin-bottom: 20px;
  }

  .customers__title {
    margin-bottom: 20px;
  }

  .contacts__title {
    margin-bottom: 20px;
  }

  .contacts__info {
    margin-bottom: 10px;
  }
}

@media (max-width: 375px) {
  .catalog {
    &__title {
      font-size: 20px;
      line-height: 26px;
    }

    &__list {
      font-size: 12px;
      line-height: 14px;
    }
  }

  .customers {
    &__title {
      font-size: 20px;
      line-height: 26px;
    }

    &__list {
      font-size: 12px;
      line-height: 14px;
    }
  }

  .contacts {
    &__title {
      font-size: 20px;
      line-height: 26px;
    }

    &__info {
      font-size: 10px;
      line-height: 13px;
    }
  }
}
