@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url("../fonts/opensans-regular.woff2") format("woff2"),
  url("../fonts/opensans-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: local("Lato"), url("../fonts/lato-regular.woff2") format("woff2"),
  url("../fonts/lato-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: local("Lato"), url("../fonts/lato-bold.woff2") format("woff2"),
  url("../fonts/lato-bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: local("Lato"), url("../fonts/lato-black.woff2") format("woff2"),
  url("../fonts/lato-black.woff") format("woff");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}