.header__container {
  padding-top: 27px;
  padding-bottom: 30px;
}

.header__title-container {
  /*width: 100%;*/
  /*margin: 0 auto;*/
}

.header__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-align: center;
}

.header__title span {
  color: var(--color-2);
}

.task {
  font-size: 18px;
  text-align: center;
}



